.formAtt{
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
  gap: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.formAtt .holdSelect{
  grid-row: 1;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.holdPreco{
  grid-row: 2;
  display: flex;
  justify-content: space-around;
align-items: center;
  gap: 10px;
}
.holdPreco > *{
width: max-content;
display: inline-flex;
}